body{
    background-color: #202020;
    background: radial-gradient(circle, transparent 20%, #202020 20%, #202020 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, #202020 20%, #202020 80%, transparent 80%, transparent) 50px 50px,
    linear-gradient(#1b1b1b 4px, transparent 4px) 0 -2px,
    linear-gradient(90deg, #1b1b1b 4px, #202020 4px) -2px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
    height: 300px;
    font-family: 'Sawarabi Gothic', sans-serif;
}
::selection {
	background: #676262c0;
	color: #fff;
}
.clearfix{
    clear: both;
}

#splash {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999;
      background:#595758;
      text-align:center;
      color:#fff;
    }
    
    #splash_logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
    #splash_logo img {
        width:200px;
     }
    
    .fadeUp{
        animation-name: fadeUpAnime;
        animation-duration:0.5s;
        animation-fill-mode:forwards;
        opacity: 0;
        }
        
        @keyframes fadeUpAnime{
            from {
                opacity: 0;
                transform: translateX(-150px);
            }
        
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }
    
#top{
    margin: auto;

    width: 80%;
    height:15px ;
    text-align: right;
    color:white;
}
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 80%;
    color: white;
}
#characterfilter{
    margin: auto;
    width:80%;
    text-align: left;

}
#characters{
    text-align: center;
    margin: auto;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);    
    backdrop-filter: saturate(180%) blur(5px);
}

.btn{
    text-align: center;
    background: linear-gradient(90deg, #7c7c7c 0%,#555555 40%, #477199 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    color:#ffffff;
    margin: auto;
    display: inline-block;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all  0.3s ease;
    opacity: 0.9;
}
.btn:hover{
    background-position: 50% 50%;
    cursor: default;
    opacity:1;
}
.btn.active{
    background-position: 100% 50%;
    opacity:1;

}
#btnISN{
    display: none;
}

.charaHover {
	position: relative;
	width: 217px;
	height: 500px;
	margin: 0 auto;
	display: inline-block;
	overflow: hidden;
    cursor: pointer;
}
.charaHover img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	display: block;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.charaHover:hover img:nth-of-type(2) {
	opacity: 0;
}

#charaIntro{
    margin: auto;
    text-align: center;
    width: 80%;
    overflow:auto;
    background-color: rgba(255, 255, 255, 0.05);    
    backdrop-filter: saturate(180%) blur(5px);
}

.introImg{
    float: left;
    padding-left: 15%;

}
.introImg img{
max-width: 300px;
}
.introText{
    padding-left: 50px;
    float: left;
    color: white;
    text-align: left;
}
.name{
    font-size: 40px;
    padding-top:50px;
}
.highlightmarker{ background: linear-gradient(transparent 40%, #477096ad 40%);}
#theo,#kaimiIntro,#shachenIntro,#hikaruIntro,#nozomuIntro,#ayaIntro,#suzutoIntro,#theoIntro{
    display: none;
}

#footer{
    padding:20px;
    background-color:#595656 ;
    color: white;
    text-align: center;
}